*{
    background: rgba(0,0,0,.05);
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after,
.clearfix:before{
    content:"";
    clear:both;
    display:table;
}
.navbar{
    background: rgba(0,0,0,.1);
}
.navbar-item{
    display: inline-block;
    line-height:2;
    padding:2px 4px;
}
.navbar-item:first-child{
    margin-left:4px;
}
.navbar-item:last-child{
    margin-right:;:4px;
}
.navbar .brand{
    font-size:20px;
    padding-top:0;
    font-weight:600;
}
.container{
    width:800px;
    margin-left:auto;
    margin-right: auto;
}
[ui-sref]{
    cursor: pointer;
}